.strip {
  background-color: #3580c3;
}

.strip_para {
  padding-top: 12px;
  color: white;
  float: left;
  font-weight: bold;
}

.strip_right_text {
  padding-top: 8px;
  color: white;
}

.Number {
  color: white;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
}


/* From Uiverse.io by alexmaracinaru */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  display: block;
  border-radius: 50px;
  background: #3b6977;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 95%;
  background: #3b6977;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}


.partnerimg {
  width: 6rem;
}



/* second section  */

.content_div {
  text-align: left;
}

.right-text {
  color: #3580c3;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.right_para {
  color: black;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



/* small divice */
@media only screen and (max-width: 768px) {
  .right-text {
    color: #3580c3;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .right_para {
    color: black;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .fordesktop{
    display: none;
  }
}

.left_img {
  width: 100%;
  border-radius: 5px;
  margin-top: 18px;
}

.right_UL {
  list-style: none;
  color: black;
  text-align: left;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right_UL li {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  /* Add spacing between list items */
}

.right_UL li i {
  color: #3580c3;
  margin-right: 10px;
  font-size: 18px;

}




/* section two css  */

.second_cont {
  padding-top: 8rem;
}

.section_two_heading {
  color: #3580c3;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



/* tab css  */


.tab_sec {
  margin: 2rem 0 0 0;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #e6e6e6;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.20rem;
  width: 100%;
  font-size: 16px;
  margin: auto;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .8rem 0;
  color: #3580c3;
  transition: all .15s ease-in-out;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;

}

.radio-inputs .radio input:checked+.name {
  background-color: #fff;
  font-weight: 500;
}



/* products/Projets */


/* cards data css  */
.my_card {
  border: 1px solid;
  margin: 1rem 0 0.3rem 0;
  border-radius: 1rem !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Adds a soft shadow */
  transition: box-shadow 0.3s ease-in-out;
}

.my_card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* Increases shadow on hover */
}

.card_img {
  padding: 15px 0 0 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.card_img:hover {
  transform: translateY(-10px);
}

.card_title {
  color: black;
  font-size: 22px;
  padding: 15px 0 0 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card_title,
.nav-link {
  color: black;
}

.card_desc {
  color: black;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


/* Three section  */

.right_img {
  width: 80%;
}




/* fourth section  */


.sectionfour {
  margin-top: 5rem;
  background-color: #e4f3fa;
  padding: 5rem;
}


.section_four_heading {
  color: #3580c3;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.section_four_para {
  color: black;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.toolimg {
  max-width: 120px;
  height: 60px;
  cursor: pointer;
  margin: 15px;
  filter: grayscale(100%);
  border-left: 2px solid #acacac;
  padding-left: 10px;
  object-fit: contain;
  align-items: stretch;
}

.toolimg:hover {
  filter: grayscale(0);
}



.counterdiv {
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding: 20px;
  text-align: center;

}

.counter_num,
.countspan {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.counter_name {
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #000000;

}


.list-unstyled,
.text-uppercase {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #242424;

}


/* small divice */
@media only screen and (max-width: 768px) {
  .counterdiv {
    display: block;
    justify-content: center;
    gap: 6rem;
    padding: 20px;
    text-align: center;

  }
}


.forMobile {
  display: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.869);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  height: 60vh;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}


/* small divice */
@media only screen and (max-width: 768px) {

  .forMobile {
    display: block;
  }



  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.869);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
  }
}



.My_link {
  cursor: pointer;
  width: 12rem;
  font-weight: 700;
  transition: all 0.2s;
  margin: auto;
  padding: 8px 17px;
  border-radius: 100px;
  background: #3580c3;
  border: 1px solid transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  color: #000000;
}

.My_link:hover {
  background: #4ba1ed;
  color: #000000;
  text-decoration: none;
}

.My_link>svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.My_link:hover svg {
  transform: translateX(5px);
}

.My_link:active {
  transform: scale(0.95);
}